<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon_Default</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_Default</string>
				</array>
			</dict>
			<key>AppIcon_Developer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_Developer</string>
				</array>
			</dict>
			<key>AppIcon_NotMyPresident</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_NotMyPresident</string>
				</array>
			</dict>
			<key>AppIcon_StandWithUkraine2022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_StandWithUkraine2022</string>
				</array>
			</dict>
			<key>AppIcon_Ukiyoe</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_Ukiyoe</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon_Default</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_Default_iPad</string>
					<string>AppIcon_Default_iPad_Pro</string>
				</array>
			</dict>
			<key>AppIcon_Developer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_Developer_iPad</string>
					<string>AppIcon_Developer_iPad_Pro</string>
				</array>
			</dict>
			<key>AppIcon_NotMyPresident</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_NotMyPresident_iPad</string>
					<string>AppIcon_NotMyPresident_iPad_Pro</string>
				</array>
			</dict>
			<key>AppIcon_StandWithUkraine2022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_StandWithUkraine2022_iPad</string>
					<string>AppIcon_StandWithUkraine2022_iPad_Pro</string>
				</array>
			</dict>
			<key>AppIcon_Ukiyoe</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon_Ukiyoe_iPad</string>
					<string>AppIcon_Ukiyoe_iPad_Pro</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.10</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.ehpanda</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ehpanda</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>156</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>We need this permission to provide Face ID option while unlocking the App.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need this permission to save images to your photo library.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
