name: Deploy
on:
  pull_request:
    branches:
      - main
    types: [closed]
env:
  DEVELOPER_DIR: /Applications/Xcode_13.2.1.app
  APP_VERSION: '2.1.1'
  SCHEME_NAME: 'EhPanda'
  ALTSTORE_JSON_PATH: './AltStore.json'
  BUILDS_PATH: '/tmp/action-builds'
  ASC_KEY_PATH: '/Users/runner/private_keys'
  FILTER_PATH: './actions-tool/ReleaseNotesFilter'
  ARCHIVE_PATH: '/tmp/action-builds/EhPanda.xcarchive'
  IPA_OUTPUT_PATH: '/tmp/action-builds/EhPanda.ipa'
  DEV_P12_PATH: '/tmp/action-builds/dev.p12'
  DIS_P12_PATH: '/tmp/action-builds/dis.p12'
  APP_DEV_PROVISION_PATH: '/tmp/action-builds/app_dev.mobileprovision'
  APP_DIS_PROVISION_PATH: '/tmp/action-builds/app_dis.mobileprovision'
  SHARE_EXTENSION_DEV_PROVISION_PATH: '/tmp/action-builds/share_extension_dev.mobileprovision'
  SHARE_EXTENSION_DIS_PROVISION_PATH: '/tmp/action-builds/share_extension_dis.mobileprovision'
jobs:
  Deploy:
    runs-on: macos-11
    if: github.event.pull_request.merged == true && github.event.pull_request.user.login == 'tatsuz0u'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Modify git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Install dependencies
        run: brew install rswift
      - name: Show Xcode version
        run: xcodebuild -version
      - name: Run tests
        run: xcodebuild clean test -scheme ${{ env.SCHEME_NAME }} -sdk iphonesimulator
          -destination 'platform=iOS Simulator,name=iPhone 13'
      - name: Decode certificates & provisioning profiles
        run: |
          mkdir $BUILDS_PATH
          mkdir $ASC_KEY_PATH
          echo -n ${{ secrets.DEV_P12 }} | base64 -d -o $DEV_P12_PATH
          echo -n ${{ secrets.DIS_P12 }} | base64 -d -o $DIS_P12_PATH
          echo -n ${{ secrets.APP_DEV_PROVISION }} | base64 -d -o $APP_DEV_PROVISION_PATH
          echo -n ${{ secrets.APP_DIS_PROVISION }} | base64 -d -o $APP_DIS_PROVISION_PATH
          echo -n ${{ secrets.SHARE_EXTENSION_DEV_PROVISION }} | base64 -d -o $SHARE_EXTENSION_DEV_PROVISION_PATH
          echo -n ${{ secrets.SHARE_EXTENSION_DIS_PROVISION }} | base64 -d -o $SHARE_EXTENSION_DIS_PROVISION_PATH
          echo -n ${{ secrets.ASC_KEY_P8 }} | base64 -d -o $ASC_KEY_PATH/AuthKey_${{ secrets.ASC_KEY_ID }}.p8
      - name: Install certificates
        run: |
          KEY_CHAIN=action-builds.keychain-db
          P12_PASSWORD=${{ secrets.P12_PASSWORD }}
          security create-keychain -p $P12_PASSWORD $KEY_CHAIN
          security default-keychain -s $KEY_CHAIN
          security unlock-keychain -p $P12_PASSWORD $KEY_CHAIN
          security set-keychain-settings -t 3600 -u $KEY_CHAIN
          security import $DEV_P12_PATH -k $KEY_CHAIN -P $P12_PASSWORD -T /usr/bin/codesign
          security import $DIS_P12_PATH -k $KEY_CHAIN -P $P12_PASSWORD -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple: -s -k $P12_PASSWORD ~/Library/Keychains/$KEY_CHAIN
          security list-keychains
          security find-identity -p codesigning ~/Library/Keychains/$KEY_CHAIN
      - name: Install provisioning profiles
        run: |
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          app_dev_uuid=`grep UUID -A1 -a $APP_DEV_PROVISION_PATH | grep -io "[-A-F0-9]\{36\}"`
          app_dis_uuid=`grep UUID -A1 -a $APP_DIS_PROVISION_PATH | grep -io "[-A-F0-9]\{36\}"`
          share_extension_dev_uuid=`grep UUID -A1 -a $SHARE_EXTENSION_DEV_PROVISION_PATH | grep -io "[-A-F0-9]\{36\}"`
          share_extension_dis_uuid=`grep UUID -A1 -a $SHARE_EXTENSION_DIS_PROVISION_PATH | grep -io "[-A-F0-9]\{36\}"`
          cp $APP_DEV_PROVISION_PATH ~/Library/MobileDevice/Provisioning\ Profiles/$app_dev_uuid.mobileprovision
          cp $APP_DIS_PROVISION_PATH ~/Library/MobileDevice/Provisioning\ Profiles/$app_dis_uuid.mobileprovision
          cp $SHARE_EXTENSION_DEV_PROVISION_PATH ~/Library/MobileDevice/Provisioning\ Profiles/$share_extension_dev_uuid.mobileprovision
          cp $SHARE_EXTENSION_DIS_PROVISION_PATH ~/Library/MobileDevice/Provisioning\ Profiles/$share_extension_dis_uuid.mobileprovision
          ls ~/Library/MobileDevice/Provisioning\ Profiles
      - name: Bump version
        id: bump-version
        uses: yanamura/ios-bump-version@v1
        with:
          version: ${{ env.APP_VERSION }}
      - name: Xcode archive
        run: xcodebuild archive -destination 'generic/platform=iOS'
          -scheme ${{ env.SCHEME_NAME }} -archivePath ${{ env.ARCHIVE_PATH }}
      - name: Export .ipa file
        run: xcodebuild -exportArchive -archivePath ${{ env.ARCHIVE_PATH }}
          -exportPath ${{ env.BUILDS_PATH }} -exportOptionsPlist ./actions-tool/ExportOptions.plist
      - name: Retrieve data
        id: retrieve-data
        run: |
          sudo chmod 777 $FILTER_PATH
          echo "::set-output name=size::$(stat -f%z $IPA_OUTPUT_PATH)"
          echo "::set-output name=version_date::$(date -u +"%Y-%m-%dT%T")"
          echo "::set-output name=notes::$($FILTER_PATH "${{ github.event.pull_request.body }}")"
      - name: Validate data
        run: |
          [[ ! -z "${{ github.event.pull_request.body }}" ]] || exit 1
          [[ ! -z "${{ github.event.pull_request.title }}" ]] || exit 1
          [[ ! -z "${{ steps.retrieve-data.outputs.size }}" ]] || exit 1
          [[ ! -z "${{ steps.retrieve-data.outputs.notes }}" ]] || exit 1
          [[ ! -z "${{ steps.bump-version.outputs.version }}" ]] || exit 1
          [[ ! -z "${{ steps.bump-version.outputs.build-number }}" ]] || exit 1
          [[ ! -z "${{ steps.retrieve-data.outputs.version_date }}" ]] || exit 1
      - name: Release to GitHub
        uses: softprops/action-gh-release@v1
        with:
         fail_on_unmatched_files: true
         files: ${{ env.IPA_OUTPUT_PATH }}
         token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
         body: ${{ github.event.pull_request.body }}
         name: ${{ github.event.pull_request.title }}
         tag_name: 'v${{ steps.bump-version.outputs.version }}_b${{ steps.bump-version.outputs.build-number }}'
      - name: Upload to ASC
        run: xcrun altool --upload-app -t ios -f ${{ env.IPA_OUTPUT_PATH }}
          --apiKey ${{ secrets.ASC_KEY_ID }} --apiIssuer ${{ secrets.ASC_ISSUER_ID }}
      - name: Commit bump version
        run: |
          git add .
          git commit -m "Bump version"
          git push origin HEAD
      - name: Update AltStore.json
        run: |
          echo "`jq '.apps[0].size=${{ steps.retrieve-data.outputs.size }}' $ALTSTORE_JSON_PATH`" > $ALTSTORE_JSON_PATH
          echo "`jq '.apps[0].versionDescription="${{ steps.retrieve-data.outputs.notes }}"' $ALTSTORE_JSON_PATH`" > $ALTSTORE_JSON_PATH
          echo "`jq '.apps[0].versionDate="${{ steps.retrieve-data.outputs.version_date }}"' $ALTSTORE_JSON_PATH`" > $ALTSTORE_JSON_PATH
          echo "`jq '.apps[0].version="v${{ steps.bump-version.outputs.version }}b${{ steps.bump-version.outputs.build-number }}"' $ALTSTORE_JSON_PATH`" > $ALTSTORE_JSON_PATH
          echo "`jq '.apps[0].downloadURL="https://github.com/tatsuz0u/EhPanda/releases/download/v${{ steps.bump-version.outputs.version }}_b${{ steps.bump-version.outputs.build-number }}/EhPanda.ipa"' $ALTSTORE_JSON_PATH`" > $ALTSTORE_JSON_PATH
      - name: Commit update AltStore.json
        run: |
          git add .
          git commit -m "Update AltStore.json"
          git push origin HEAD
      - name: Post release notes
        run: |
         curl https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage \
         -d parse_mode=markdown -d chat_id=${{ secrets.TELEGRAM_CHANNEL_ID }} \
         -d text='*v${{ steps.bump-version.outputs.version }}_b${{ steps.bump-version.outputs.build-number }} Release Notes:*%0A${{ github.event.pull_request.body }}'

         curl ${{ secrets.DISCORD_WEBHOOK }} \
         -F 'payload_json={"content": "**v${{ steps.bump-version.outputs.version }}_b${{ steps.bump-version.outputs.build-number }} Release Notes:**\n${{ steps.retrieve-data.outputs.notes }}"}'
