name: Test
on: [push]
env:
   SCHEME_NAME: 'EhPanda'
   DEVELOPER_DIR: /Applications/Xcode_13.0.app
jobs:
  Test:
    runs-on: macos-11
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Show Xcode version
        run: xcodebuild -version
      - name: Run tests
        run: xcodebuild
          -scheme ${{ env.SCHEME_NAME }} -sdk iphonesimulator
          -destination 'platform=iOS Simulator,name=iPhone 13'
          clean test
